<form id="new_meetup" action="/meetups" method="post">
  Meetup Name: <input type="text" name="name">
  Description: <input type="textarea" name="description">
  Location: <input type="text" name="location">
  <input type="submit" name="submit" value="Submit!">
</form>
